# File to control coverage in pytest.
[run]
   omit =
        */tk_*
        custom_step/colourchooser.py
        custom_step/findwindow.py
        custom_step/fontchooser.py
        custom_step/highlighter.py
        custom_step/linenumbers.py
        custom_step/textarea.py
        custom_step/texteditor.py
   